[Unit]
Description=Webdesktop remote desktop service
Requires=xdg-desktop-portal.service plasma-xdg-desktop-portal-kde.service
After=plasma-kwin_wayland.service xdg-desktop-portal.service plasma-xdg-desktop-portal-kde.service
PartOf=graphical-session.target plasma-kwin_wayland.service xdg-desktop-portal.service plasma-xdg-desktop-portal-kde.service

[Service]
Type=simple
ExecStart=@webdesktop@/bin/webdesktop serve --config %h/.config/webdesktop/config.yaml
Restart=no
TimeoutStopSec=15s
UMask=0077

[Install]
WantedBy=graphical-session.target
