[Desktop Entry]
Type=Application
Name=Webdesktop Input
Exec=@webdesktop@/bin/webdesktop
TryExec=@webdesktop@/bin/webdesktop
Terminal=false
NoDisplay=true
X-KDE-Wayland-Interfaces=org_kde_kwin_fake_input
